[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mifa"]
	path = mifa
	url = https://github.com/teebusch/mifa
[submodule "noah"]
	path = noah
	url = https://github.com/teebusch/noah
